<!DOCTYPE html>
<html>
<head>
    <title>Todo APP</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/todo.js"></script>
</head>

<body>

    <section class="navBar">
        <header >
            <h1 id="title" >Todo App</h1>
        </header>
        <form id="form">
            <input type="text" id="todo" name="todo">


            <button id="submit" onclick="addTodo(event)">Add</button>
        </form>
    </section>
    <div class="mn">
        <section class="colNames">
            <div id="all">ALL</div>
            <div id="completed">COMPLETED</div>
            <div id="pending">PENDING</div>
        </section>
        <ul class="list" onclick="deleteTodo(event)">
            <li >buy the milk</li>
            <li>rent a car</li>
        </ul>
    </div>

</body>
</html>
